<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
	<h1>
		ngx-shortcut
	</h1>
	<input shortcutFocus [shortcutFocusCode]="'KeyA'" [shortcutFocusAlt]="true" type="text" autofocus
		placeholder="Autofocus alt+a" />
	<br>
	<input shortcutFocus [shortcutFocusCode]="'KeyB'" [shortcutFocusAlt]="true" type="text" autofocus
		placeholder="Autofocus alt+b" />
	<br>
	<input shortcutFocus [shortcutFocusCode]="'KeyC'" [shortcutFocusAlt]="true" type="text" autofocus
		placeholder="Autofocus alt+c" />
	<br>
	<input shortcutFocus [shortcutFocusCode]="'KeyD'" [shortcutFocusAlt]="true" type="text" autofocus
		placeholder="Autofocus alt+d" />
</div>